*,
*::after,
*::before{
    margin: 0%;
    padding:0%;
    box-sizing:border-box;
}

.nav-link {
    color: #fff;
}

.wrap {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

#landing {
    background-image: url(https://i.postimg.cc/j5VWG6y7/c09f312177930dc26398672a0d4a8011.jpg);
    background-size: cover;

}
.logo {
width: 5em;
border-radius: 50px;
}

.logo:hover {
    animation: 1s linear rotor infinite ;

}

.landing {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: url();
}


.landing img {
    min-height: 100%;
    z-index: -1;
    width: 100%;
    position: absolute;
}

#landing img {
    width: 100%;
    height: 100%;
}

#landing {
    color: white;
    text-align: center;
  /* font */
}

#about {
    min-height: 100vh;
}

body{
    background-image: url(https://i.postimg.cc/0y63ZbFn/094dea98709e557c9a709f6fedba32f1.gif);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}
.apple {
    box-shadow: 0 0 15px 5px rgb(40, 116, 166 0.8)
}
/* #background{
    min-height: 100vh;
    background-image: url(https://i.postimg.cc/7YYRm00D/a021d3e4e5f4f40692b50c4e2d07c5e6.jpg) no-repeat center center; */
/* background-repeat: no-repeat; */
/* background-size: cover;
    background-position: center;
} */

/* About-Me */
.About-Me-container{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    perspective: 100px;

};


.about{
    height: auto;
    width: 100%;
    position: relative;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.2)
    ),
    url(https://i.postimg.cc/prNCsDcv/002936e92b21b26d911ba0788ea0364f.gifhttps://i.postimg.cc/prNCsDcv/002936e92b21b26d911ba0788ea0364f.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

#about-me p {
    font-size: xx-large;
} 

.work {
    height: auto;
    width: 100%;
    position: relative;
    background: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
    ),
    url(https://i.postimg.cc/bwcpq59y/bfa2d1954f88e09c418f8c40161162f8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

}
/* Work_Skills */
.Work_Skills{
min-width: 100vh;
}

.Work_Skills-container{
    height: auto;
    width: 100%;
    background: -o-linear-gradient(
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.2),
    )
}

li{
    list-style: none;
}

#contact {
    min-height: 100vh;
    /* background-image: url("https://i.postimg.cc/TPRwgJLB/7b18b63f5cd46f14ce41e41c9c6a3685.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
/* Nav-bar */
@keyframes rotor {
    0%{
        transform:rotate(0deg)
    }
    50%{
        transform: rotate(180deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
/* Porfolio Page */
.background{
    width: 100%;
}

.display-2{
    background: linear-gradient(rgba(40, 55, 71, 0.6), rgba(40, 55, 71, 0.6));
    background-size: 0px;
}

@media screen and (max-width:720px) {
    .container img {
        width: 100%;
    }
    #about-me .col-6 {
        width: 100%;
    }
}

.banana{
    width: 100%;
}

/*TESTIMONIALS */
.testimonials .card {
    max-width: 100%;
}